<div class="menu-sections-nav">
  <div class="container">
    <div class="menu-tabs">
      <div class="menu-tab"><a href="#">Everyday value</a></div>
      <div class="menu-tab scrollspy-link"><a href="#bestsellers" class="active">Bestsellers</a></div>
      <div class="menu-tab scrollspy-link"><a href="#pizzaparty">Pasta Pizza Party</a></div>
      <div class="menu-tab scrollspy-link"><a href="#veg">Veg Pizza</a></div>
      <div class="menu-tab scrollspy-link"><a href="#nonveg">Non-veg Pizza</a></div>
      <div class="menu-tab scrollspy-link"><a href="#combos">Meals & Combos</a></div>
      <div class="menu-tab scrollspy-link"><a href="#pizzamania">Pizza Mania</a></div>
      <div class="menu-tab scrollspy-link"><a href="#chicken">Speciality Chicken</a></div>
      <div class="menu-tab scrollspy-link"><a href="#sides">Sides</a></div>
      <div class="menu-tab scrollspy-link"><a href="#beverages">Beverages</a></div>
      <div class="menu-tab scrollspy-link"><a href="#desserts">Desserts</a></div>
    </div>
  </div>
</div>
<div class="page home-menu">
  <div class="container padded">
    <div class="home-menus-wrapper">
      <div class="all-menus">
        <section class="scrollspy-section" id="everyday-value">
          <div class="header">
            <h4>Bestsellers</h4>
          </div>
          <div class="menu-grid">

            <% menus.topMenu.map(item => { %>
            <div class="menu-card" data-item='<%= JSON.stringify(item)%>'>
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-selector">
                  <div class="size">
                    <label for="size">Size</label>
                    <select class="size-select" name="size">
                      <% item.options.prices.forEach(price => { %>
                      <option value="<%= price.size %>"><%= price.size %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="crust">
                    <label for="crust">Crust</label>
                    <select class="crust-select" name="crust">
                      <% item.options.crusts.forEach(crust => { %>
                      <option value="<%= crust %>"><%= crust %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="menu-actions">
                  <div class="btns">
                    <% if(session.cart && (session.cart.items).hasOwnProperty(item._id)) { %>
                    <div class="quantity-control inline">
                      <button type="button" class="less">
                        <% if(1) { %>
                        <span class="material-icons">
                          delete_outline
                        </span>
                        <% } else { %>
                        <span class="material-icons">
                          remove
                        </span>
                        <% } %>
                      </button>
                      <p>1</p>
                      <button type="button" class="more">
                        <span class="material-icons">
                          add
                        </span>
                      </button>
                    </div>
                    <% } else { %>
                    <button class="btn btn-sm addToCart">Add to Cart</button>
                    <% } %>
                  </div>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="pizzaparty">
          <div class="header">
            <h4>Pasta Pizza Party</h4>
          </div>
          <div class="menu-grid">
            <% menus.pasta.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="veg">
          <div class="header">
            <h4 class="veg">Veg Pizza</h4>
          </div>
          <div class="menu-grid">

            <% menus.veg.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-selector">
                  <div class="size">
                    <label for="size">Size</label>
                    <select name="" id="size">
                      <% item.options.prices.forEach(price => { %>
                      <option value="<%= price.size %>"><%= price.size %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="crust">
                    <label for="crust">Crust</label>
                    <select name="" id="crust">
                      <% item.options.crusts.forEach(crust => { %>
                      <option value="<%= crust %>"><%= crust %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="nonveg">
          <div class="header">
            <h4 class="non-veg">Non-Veg Pizza</h4>
          </div>
          <div class="menu-grid">

            <% menus.nonveg.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-selector">
                  <div class="size">
                    <label for="size">Size</label>
                    <select name="" id="size">
                      <% item.options.prices.forEach(price => { %>
                      <option value="<%= price.size %>"><%= price.size %></option>
                      <% }) %>
                    </select>
                  </div>
                  <div class="crust">
                    <label for="crust">Crust</label>
                    <select name="" id="crust">
                      <% item.options.crusts.forEach(crust => { %>
                      <option value="<%= crust %>"><%= crust %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="combo">
          <div class="header">
            <h4>Meals & Combos</h4>
          </div>
          <div class="menu-grid">

            <% menus.combo.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="pizzamania">
          <div class="header">
            <h4>Pizza Mania</h4>
          </div>
          <div class="menu-grid">

            <% menus.pizzamania.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-selector">
                  <div class="size">
                    <label for="size">Size</label>
                    <select name="" id="size" disabled>
                      <option value="regular">Regular</option>
                    </select>
                  </div>
                  <div class="crust">
                    <label for="crust">Crust</label>
                    <select name="" id="crust">
                      <% item.options.crusts.forEach(crust => { %>
                      <option value="<%= crust %>"><%= crust %></option>
                      <% }) %>
                    </select>
                  </div>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="chicken">
          <div class="header">
            <h4 class="non-veg">Speciality Chicken</h4>
          </div>
          <div class="menu-grid">

            <% menus.chicken.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="sides">
          <div class="header">
            <h4>Sides</h4>
          </div>
          <div class="menu-grid">

            <% menus.sides.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="beverages">
          <div class="header">
            <h4 class="veg">Beverages</h4>
          </div>
          <div class="menu-grid">

            <% menus.beverage.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
        <section class="scrollspy-section" id="desserts">
          <div class="header">
            <h4 class="veg">Desserts</h4>
          </div>
          <div class="menu-grid">

            <% menus.dessert.map(item => { %>
            <div class="menu-card">
              <div class="menu-image">
                <div class="overlay">
                  <% if(item.foodType === 'veg') {%> <div class="menu-type veg"></div>
                  <% } else {%> <div class="menu-type non-veg"></div>
                  <% } %>
                  <div class="menu-price"><span>&#8377; <%= item.price %></span></div>
                </div>
                <div class="image">
                  <img src="<%= item.image %>" alt="">
                </div>
              </div>
              <div class="menu-details">
                <div class="menu-name">
                  <p>
                    <%= item.name %>
                  </p>
                  <span>
                    <%= item.description %>
                  </span>
                </div>
                <div class="menu-actions">
                  <button class="btn btn-sm addToCart" data-item='<%= JSON.stringify(item)%>'>Add to Cart</button>
                </div>
              </div>
            </div>
            <%}) %>
          </div>
        </section>
      </div>
      <div class="side-menu">
        <div class="cart-preview" id="cartPreview">
          <% if(session.cart) { %>
          <div class="side-cart">
            <div class="added-items" id="sideCartItems">
              <% for(let pizza of Object.values(session.cart.items) ){ %>
              <div class="item">
                <figure>
                  <img src="<%= pizza.item.image %>" alt="">
                </figure>

                <div class="details">
                  <h2> <%= pizza.item.name %> </h2>
                  <p><%= pizza.item.description %> </p>
                  <div class="more">
                    <span><%= pizza.item.size %> </span>
                    <span><%= pizza.item.crust %></span>
                  </div>
                </div>
                <div class="price-q">
                  <div class="quantity-control">
                    <button type="button" class="less">
                      <% if(pizza.qty === 1) { %>
                      <span class="material-icons">
                        delete_outline
                      </span>
                      <% } else { %>
                      <span class="material-icons">
                        remove
                      </span>
                      <% } %>
                    </button>
                    <p><%= pizza.qty %> </p>
                    <button type="button" class="more">
                      <span class="material-icons">
                        add
                      </span>
                    </button>
                  </div>
                  <h5>&#8377; <%= pizza.item.price * pizza.qty %></h5>
                </div>
                <% if(pizza.item.extra) { %>
                <div class="custom">
                  <span>Your Customization</span>
                  <p> <strong>Added topping:</strong> Extra Cheese</p>
                </div>
                <% } %>
              </div>
              <%} %>
            </div>
            <div class="cta">
              <div>Subtotal <span id="sideCartSubtotal">&#8377; <%= session.cart.totalPrice %></span></div>
              <a href="/cart">Checkout</a>
            </div>
          </div>
          <% } else { %>
          <div class="empty">
            <img src="/images/empty_cart@2x.png" alt="">
            <h3>Your Cart is Empty <small>Please add some items from the menu.</small> </h3>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>