<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Domono's Pizza - Realtime Order</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
    crossorigin="anonymous" />
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet" />
  <link rel="stylesheet" href="/css/app.css" />
</head>

<body>
  <div class="site__overlay" id="ovly"></div>
  <header class="site__header">
    <div class="container header-wrapper">
      <div class="hamburger" id="hamMenu" role="button">
        <span class="material-icons">
          menu
        </span>
      </div>
      <div class="brand">
        <a href="/">
          <img src="/images/logo.png" alt="logo">
          <span>Domono's Pizza</span>
        </a>
      </div>
      <nav>
        <ul>
          <li><a href="#">Our Menu</a></li>
          <li><a href="#">Store Finder</a></li>
          <li><a href="#">Inside Domonos</a></li>
          <li><a href="#">Gift Card</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
      <div class="header-menus" id="headerMenu">
        <div class="cart-menu">
          <a href="/cart">
            <span class="material-icons">
              shopping_cart
            </span>
            <span id="cartCounter"><%= session.cart ? session.cart.totalQty : '' %></span>
          </a>
        </div>
        <% if(user && user.addresses.length !== 1) { %>
        <div class="location-menu locationPickerBtn" id="locationPickerBtn" role="button">
          <span class="material-icons-outlined">
            location_on
          </span>
          <p>Select Location <small>Select location for accurate menu listings</small> </p>
          <span class="material-icons-outlined">
            create
          </span>
        </div>
        <% } %>
        <div class="user-menu">
          <div class="user-icon">
            <span class="material-icons">
              account_circle
            </span>
          </div>
          <% if(user) {%>
          <form id="logout" action="/logout" method="POST">
            <div class="user-info">
              <p><%= user.name %></p>
              <small><span><a href="#" onclick="document.getElementById('logout').submit()">Logout</a></span></small>
            </div>
          </form>
          <%} else { %>
          <div class="user-info">
            <p>Hello Guest!</p>
            <small><span><a href="/login">Login</a></span><span><a href="/register">Register</a></span></small>
          </div>
          <% } %>
        </div>
        <div class="download-menu">Download App</div>
      </div>
    </div>
  </header>
  <%- include('partials/left-drawer.ejs') %>
  <%- body %>
  <%- include('partials/right-drawer.ejs') %>
  <%- include('partials/alert.ejs') %>
  <%- include('partials/footer-slim.ejs') %>

  <script src="js/app.js"></script>
</body>

</html>