<div class="side-cart">
    <div class="added-items" id="sideCartItems">
        <% for(let pizza of Object.values(session.cart.items) ){ %>
        <div class="item">
            <figure>
                <img src="<%= pizza.item.image %>" alt="">
            </figure>

            <div class="details">
                <h2> <%= pizza.item.name %> </h2>
                <p><%= pizza.item.description %> </p>
                <div class="more">
                    <span><%= pizza.item.size %> </span>
                    <span><%= pizza.item.crust %></span>
                </div>
            </div>
            <div class="price-q">
                <div class="quantity-control">
                    <button type="button" class="less">
                        <% if(pizza.qty === 1) { %>
                        <span class="material-icons">
                            delete_outline
                        </span>
                        <% } else { %>
                        <span class="material-icons">
                            remove
                        </span>
                        <% } %>
                    </button>
                    <p><%= pizza.qty %> </p>
                    <button type="button" class="more">
                        <span class="material-icons">
                            add
                        </span>
                    </button>
                </div>
                <h5>&#8377; <%= pizza.item.price * pizza.qty %></h5>
            </div>
            <% if(pizza.item.extra) { %>
            <div class="custom">
                <span>Your Customization</span>
                <p> <strong>Added topping:</strong> Extra Cheese</p>
            </div>
            <% } %>
        </div>
        <%} %>
    </div>
    <div class="cta">
        <div>Subtotal <span id="sideCartSubtotal">&#8377; <%= session.cart.totalPrice %></span></div>
        <a href="/cart">Checkout</a>
    </div>
</div>